# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode stuff
.vscode

# Make/CMake stuff
Makefile
CMakeCache.txt
compile_commands.json
CMakeSettings.json
CMakeFiles

# Visual studio stuff
*.suo
*.tlog
*.log
*.pdb
*.ilk
*.exp
*.idb
*.obj
*.pch
*.ipch
*.db
*.opendb
*.user
*.cproject
*.project
*.directory
*.settings
*.maintenance
*.cmake
*.vcxproj
*.filters
*.sln
*.a
*.vs

# Build directories (Mac, Linux and Windows)
Debug
Release
GeneratedFiles
Build
build
out
_deps
